body {
  margin: 0px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  letter-spacing: 1px;
}

/* adding black opacity to background */
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  /* zed index of superslides is 2 */
  background-color: rgba(0, 0, 0, 0.4);
  /* black with 0.4 opacity */
}

/* makes the arrow keys stay on top */
.slides-navigation {
  z-index: 6;
}

/* arrow keys for main slides */
.slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slides-navigation a.prev {
  left: 20px;
  background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next {
  right: 20px;
  background-image: url(../img/icons/next.png);
}

/* Kevin Kim and Title */
.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -125px;
}

/* My name */
.titleMessage .heading p {
  color: #FFF;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
  font-weight: 100;
  letter-spacing: 7px;
}

/* My name */
.titleMessage .heading .main {
  font-size: 50px;
}

/* My title */
.titleMessage .heading .sub {
  font-size: 23px;
}

/* pads the bottom below the picture */
.section {
  padding: 100px 0;
}

/* makes my headshot as big as the container that it's in */
/* in this case col-md-5 */
.aboutImage {
  max-width: 100%;
}

/* color from flatuicolors.com */
.skillsSection,
.contactSection {
  background-color: #e74c3c; /* a rosy red */
  color: #fff;
}

.skill {
  text-align: center;
  margin-left: 10px;
}

.chart {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.chart .percent {
  color: #000;
  line-height: 157px;
  display: inline-block;
  font-size: 35px;
}

/* add a percent symbol after the number  */
.chart .percent:after {
  content: '%';
}

/* squares in the stats section */
.squareItem {
  margin-top: 30px;
  position: relative;
}

.squareInnerContainer {
  position: relative;
  padding: 50px 15px 35px;
  text-align: center;
  border: 2px solid #444;
  border-top: none;
}

/* fancy logic to keep the top border half hollow */
.squareInnerContainer:before,
.squareInnerContainer:after {
  content: '';
  position: absolute;
  top: 0px;
  width: 30%;
  border-bottom: 2px solid #444;

}

.squareInnerContainer:before {
  right: 0px;
}

.squareInnerContainer:after {
  left: 0px;
}

/* the stats number */
.squareContent h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #e74c3c;
}

/* type of stats */
.squareContent h3 {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
}

/* font-awesome icon in stats section */
.squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 45px;
  margin-left: -20%;
  color: #444;
}

.contactButton {
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.contactButton:hover {
  text-decoration: none;
  color: #e74c3c;
  background-color: #fff;
}

.filter {
  text-align: center;
  width: 100%;
}

.section .heading {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}

.filter a {
  color: #bdc3c7;
  border: 1px solid #bdc3c7;
  padding: 10px 18px;
  display: block;
}

.filter li {
  /*makes it go horizontal? */
  display: inline-block;
  padding: 5px;
}

.filter .current {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #fff;
}

.items li {
  display: inline-block;
  padding: 5px;
}

.itemsContainer {
  width: 100%;
}

.items li img {
  width: 100%;
  /* make the images zoom in slowly on transition */
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;
}

.items .item {
  position: relative;
  display: block;
  overflow: hidden;
}

.items .icons {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}

.items .icons i {
  color: #fff;
  font-size: 20px;
  margin-top: 9px;
}

/* style the magnifying glasses */
.items a {
  width: 40px;
  height: 40px;
  background-color: #e74c3c;
  position: relative;
  display: inline-block;

/* make it come from left and right at 0.2s */
  -webkit-transition: all 0.2s linear, 0.2s;
  -moz-transition: all 0.2s linear, 0.2s;
  -o-transition: all 0.2s linear, 0.2s;
  -ms-transition: all 0.2s linear, 0.2s;
  -moz-transition: all 0.2s linear, 0.2s;
  -transition: all 0.2s linear, 0.2s;
}

.items .imageOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  /* transition fade to make it darken slowly */
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;

}

.items .item:hover .imageOverlay {
  opacity: 1;
}

.items .openButton {
  float: left;
  left: -200px;
}

.items .projectLink {
  float: right;
  right: -200px;
}

.items .item:hover .openButton {
  left: 0px;
}

.items .item:hover .projectLink {
  right: 0px;
}

/* pictures get zoomed in on hover */
.items .item:hover img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -transition: scale(1.05, 1.05);
}

/* making four pics display on one row */
.items {
  padding: 0;
}

.copyrightSection {
  background-color: #000;
  color: #fff;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0;
}

#navigation {
  background-color: #e74c3c;
  padding: 20px 10px;
  z-index: 100;
  width: 100%;
}

#navigation li {
  padding: 0 10px;
}

#navigation li a {
  color: #fff;
}

.navbar-brand,
.navbar-brand:hover {
  color: #fff;
}

.navbar-toggler-icon {
  background: url(../img/icons/menu.png);
  background-size: 100%;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
}

/* have loading icon cover up everything */
.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  /* center the image and don't tile it up */
  background: url(../img/loader.gif) center center no-repeat;
}

/* languages frontend backend */
.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.stack-title {
  font-size: 20px;
  padding: 10px;
}

.icon-background2 {
  color: white;
}

.skills-icon {
  color: #e74c3c;
}

/* highlighting languages here */
.highlight {
  font-weight: bold;
  font-style: italic;
  color: #fff000;
}
