body {
  margin: 0px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  letter-spacing: 1px;
}

/* adding black opacity to background */
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  /* zed index of superslides is 2 */
  background-color: rgba(0, 0, 0, 0.4);
  /* black with 0.4 opacity */
}

/* makes the arrow keys stay on top */
.slides-navigation {
  z-index: 6;
}

/* arrow keys for main slides */
.slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slides-navigation a.prev {
  left: 20px;
  background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next {
  right: 20px;
  background-image: url(../img/icons/next.png);
}

/* Kevin Kim and Title */
.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -125px;
}

/* My name */
.titleMessage .heading p {
  color: #FFF;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
  font-weight: 100;
  letter-spacing: 7px;
}

/* My name */
.titleMessage .heading .main {
  font-size: 50px;
}

/* My title */
.titleMessage .heading .sub {
  font-size: 23px;
}

/* pads the bottom below the picture */
.section {
  padding: 100px 0;
}

/* makes my headshot as big as the container that it's in */
/* in this case col-md-5 */
.aboutImage {
  max-width: 100%;
}

.skillsSection {
  /* color from flatuicolors.com */
  background-color: #e74c3c;
  color: #fff;
}
